<app-header titulo="Centro de Ayuda"></app-header>

<ion-content class="ion-padding">
  <ion-list #lista fixed *ngFor="let ayuda of ayudas | async">

    <ion-item button (click)="mostrarAyuda(ayuda.name, ayuda.message)" detail="false" lines="none" mode="ios">
      <ion-label>{{ayuda.name}}</ion-label>
      <ion-icon slot="end" name="{{ayuda.icon}}" size="large" color="secondary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-padding" collapse="fade">

  <ion-button (click)="info()" expand="block" fill="solid" shape="round">
    <ion-icon size="large" slot="start" name="information-circle-sharp"></ion-icon>
    Acerca de
  </ion-button>

</ion-footer>