<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button slot="end" shape="round" color="tertiary" fill="outline"  size="small" (click)="insertar()">
        <ion-icon slot="end" name="create-outline"></ion-icon>Insertar
      </ion-button>
      <ion-button slot="end" shape="round" color="danger" fill="outline"  size="small" (click)="cerrar()">
        <ion-icon shape="round" name="log-out-outline"></ion-icon>Cerrar
      </ion-button>
    </ion-buttons>
    <ion-title color="primary"> CRUD Apartamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
 <!-- <ion-list>
    <ion-item *ngFor="let documentApartamento of coleccionApartamentos">
      <ion-grid>
        <ion-row>
          <h2>Nombre: {{documentApartamento.data.DESCRIPCION}}</h2>
        </ion-row>
        <ion-row>
          dirección: {{documentApartamento.data.DIRECCION}}
        </ion-row>
        <ion-row>
          id: {{documentApartamento.id}}
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>-->

  <ion-list>
    <ion-item-sliding *ngFor="let documentApartamento of coleccionApartamentos">
        <ion-item-options side="start">
          <ion-item-option color="success" (click)="actualizar(documentApartamento.id)">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      <ion-item >
        <ion-grid>
          <ion-row>
            <h2>Nombre:  {{documentApartamento.data.DESCRIPCION}}</h2>
          </ion-row>
          <ion-row>
            Direccion:  {{documentApartamento.data.DIRECCION}}
          </ion-row>
          <ion-row>
            id:  {{documentApartamento.id}}
          </ion-row>
        </ion-grid>
      </ion-item>
    <ion-item-options side="end" >
      <ion-item-option color="danger"
       (click)="borrar( documentApartamento.id,documentApartamento.data.ESTADO,documentApartamento.data.IDKEY)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    </ion-item-sliding>
</ion-list>
</ion-content>