<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
     
      <ion-button slot="end" shape="round" color="danger" fill="outline"  size="small" (click)="cerrar()">
        <ion-icon shape="round" name="log-out-outline"></ion-icon>Cerrar
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Mis Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <ion-list-header>
    <h3>Fechas Ocupadas</h3>
  </ion-list-header>
  <ion-item  *ngFor="let item of fechasOcupadas1">
    <ion-row><ion-col><p>{{item}}</p></ion-col></ion-row>

    </ion-item>

</ion-list>
  <ion-item lines="none" >
    <ion-card>
     
      <ion-card-header>
        <ion-card-title>{{nombreApartamento}}</ion-card-title>
        <ion-card-subtitle>{{fechaActual}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
       
        <ion-buttons slot="start">
          <ion-button (click)="llave()" [disabled]="control">
            <ion-icon slot="icon-only"size="large" color="success" name="key-outline"></ion-icon>
          </ion-button>
          
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-content>

